{% if page.series %}
  {% assign series_meta = site.data.series[page.series] %}
  {% assign series_posts = site.posts | where: "series", page.series | sort: "part" %}
  <hr>
  <aside class="series-nav">
    <p class="post-meta">
      Part {{ page.part }} of {{ series_meta.total }} &mdash;
      <a href="/series/{{ page.series }}/">{{ series_meta.title }}</a>
    </p>
    <ol>
      {% for post in series_posts %}
        <li>
          {% if post.url == page.url %}
            <strong>{{ post.title }}</strong>
          {% else %}
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </aside>
{% endif %}
