---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>

  {{ content }}

  {%- assign series_meta = site.data.series[page.series_id] -%}
  {%- assign series_posts = site.posts | where: "series", page.series_id | sort: "part" -%}

  <ol>
    {%- for post in series_posts -%}
    <li style="margin-bottom: 1em;">
      <a href="{{ post.url | relative_url }}"><strong>{{ post.title | escape }}</strong></a>
      {%- if post.description -%}
        <br><span style="color: #828282; font-size: 0.9em;">{{ post.description }}</span>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ol>
</div>
